main{
    // background-color: darkcyan;
    margin: 40px;
    
    .agent-wrapper {
        height: 100vh;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, [col] 1fr) ;
        grid-template-rows: repeat(2, [row] auto  );
        background-color:  #95a5a6;
        color: #444;
        padding: 2%;
        justify-content: center;
        align-content: center;
        text-align: center;

        h2{
            font-size: 1em;
            margin: 0%;
            // width: 100%;
        }

        h4{
            font-size: 1em;
            margin: 0%;
        }
    }

    .box {
        color:#132743;
        border-radius: 5px;
        padding: 5px;
        font-size: 150%;
        width: 100%;
        overflow: auto;
        // background-color: #ffe9d2;;
    }
    
    .box .box {
        background-color: #ffe9d2;
        color: #444;
    }

    .pending-trips-agent {
        background-color: #ffe9d2;
        grid-column: col / span 3;
        grid-row: row;
        

        .pendings-container{
           
            background-color: #ffe9d2;
            height: 40vh;
            width: 100%;
            overflow: scroll;

            .status-container, .result-container{
                display: flex;
                text-align: center;
                flex-direction: row;
                align-content: center;
                justify-content: space-around;
                border-bottom: .3px solid rgb(190, 188, 188);
                
                .pending, .result{
                    color:#132743;
                    font-family: montserrat;
                    font-weight: 200;
                    font-size: .8em;
                    background-color: white;
                    border-right: .3px solid rgb(190, 188, 188);
                    width: 100%;
                    
                }

                .pending-approve-button{
                    border:none;
                    box-shadow:none;
                    margin: 0px;
                    padding: 0%;
                }

                .result{
                    padding: 2%;
                    font-size: .6em;
                    font-weight: 200;
                }
            }
        }
    }

    .trips-today {
        background-color: #ffe9d2;
        grid-column: col 4 / span 2;
        grid-row: row;
   
    }

    .search-traveler{
        background-color: #ffe9d2;
        grid-column: col / span 2;
        grid-row: row 2;

        .found-trips-container{
            background-color:#132743;
            height: 30vh;
            margin: 5%;
            text-align: center;
            padding-top: 5%;

            .traveler-info{
                
                height: 15vh;
                color: #f8bd7f;
                margin: 0.5%;
                margin: 5%;

                .info-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    justify-content: space-between;
                    margin: 2%;
                }
                
                
            }
        }
    }

    .welcome-container{
        grid-column: col 3 / span 2;
        grid-row: row 2;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;

        
    }

    .welcome-agent {
        grid-column: 1 / 3;
        grid-row: 1;

        .message{
            font-size: 1em;
        }
        .agents-name{
            font-size: 1.5em;
        }
    }

    .todays-date {
        grid-column: 1;
        grid-row: 2;
    }

    .g {
        grid-column: 2;
    }
}